<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Armintory</a>
      <ul id="nav-mobile" class="right">
        <li>
          <a href="/ammo">Ammo</a>
        </li>
      </ul>
    </div>
  </nav>